<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="AutoBattDB"
			 connectionString="Data Source=AutoBattDB.mssql.somee.com;Initial catalog=AutoBattDB;User ID=exobonnie_SQLLogin_1;Password=w6et2uoghs;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>